#input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
}
#input:focus{
    outline: none;
}

#partyDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#closeIcon {
    cursor: pointer;
}

#modal {
    background-image: url('../../image/Background.png');
}

#modalBackground {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    opacity: 0.9;
    width: 100vw;
}

#us { 
    clip-path: circle();
    width: 40px;
    margin-left: 25px;
    margin-right: 15px;
  }

#headerSlug {
    display: flex;
    flex-direction: row;
}

#modalTitle {
    margin-top: 20px;
}