#input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
}
#input:focus{
    outline: none;
}

#partyDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#closeIcon {
    cursor: pointer;
}

#modal {
    background-image: url('../../image/Background.png');
}