@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&display=swap" rel="stylesheet');

.App {
  background-image: url('./image/LLV.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#location {
  display: none;
}

@media only screen and (max-width: 600px){
  /*Big smartphones [426px -> 600px]*/
  #location {
    display: block;
  }
}
@media only screen and (max-width: 425px){
  /*Small smartphones [325px -> 425px]*/
  #location {
    display: block;
  }
}

#form {
  height: 500px;
}

h1 {
  font-family: 'Prata', serif;
}